# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
rancher.config
.terraform
.DS_Store
terraform.*
kube_config_cluster.yml
*.tar.gz
# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

./test